[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group oooq-core
	owner = group user/Attila Darazs (adarazs)
	owner = group user/wes hayutin (weshayutin)
	label-Verified = -1..+1 group user/rdo-ci-centos
[access "refs/for/refs/*"]
	read = group oooq-core
	read = group user/Attila Darazs (adarazs)
	push = group user/Attila Darazs (adarazs)
	label-Code-Review = -2..+2 group oooq-core
	label-Code-Review = -2..+2 group user/Attila Darazs (adarazs)
	label-Verified = -1..+1 group user/Attila Darazs (adarazs)
	rebase = group user/Attila Darazs (adarazs)
	removeReviewer = group user/Attila Darazs (adarazs)
	submit = group oooq-core
	submit = group user/Attila Darazs (adarazs)
[access "refs/heads/*"]
	read = group user/Attila Darazs (adarazs)
	create = group user/Attila Darazs (adarazs)
	push = +force group user/Attila Darazs (adarazs)
	pushMerge = group user/Attila Darazs (adarazs)
[access "refs/tags/*"]
	push = +force group user/Attila Darazs (adarazs)
	createTag = group user/Attila Darazs (adarazs)
	createSignedTag = group user/Attila Darazs (adarazs)
[project]
	state = read only
